.notification-container {
  max-width: 750px;
  width: 100%;
  margin: auto;
}
.notification-container .sub-header-title,
.notification-wrapper-container .sub-header-title {
  margin-bottom: 0;
}
.notification-header .notification-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 47px;
  color: #fff;
}
.notification-header .notification-header-mark-btn {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #3c82f8;
  text-decoration: underline;
  background-color: transparent;
}
.notification-day-title .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3c82f8;
}
.notification-day-title {
  opacity: 0.6;
}
.notification-day-title.active {
  opacity: 1;
}
.notification-day-title .title::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 130px;
  right: 0;
  height: 1px;
  width: auto;
  background-color: #3c82f8;
}
.notification-day-title {
  margin-bottom: 20px;
}
.notification-content {
  margin-bottom: 30px;
}
.notification-content .notification-img {
  border-radius: 10px;
  min-width: 69px;
  height: 69px;
  object-fit: cover;
  margin-right: 30px;
}
.notification-content .notification-msg {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.notification-img-msg-container {
  margin-right: 10px;
  width: 85%;
}
.notification-content .notification-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3c82f8;
  margin-bottom: 0;
  white-space: nowrap;
}
.notification-content .notification-msg.notification-read {  
  font-weight: 800;
  font-size: 17px;
  line-height: 23px;
}
.setting-option-container .setting-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #fff;
}
.setting-option-container .setting-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.3);
}

/* responsive */
@media (max-width: 1200px) {
  .notification-content .notification-img {
    margin-right: 15px;
  }
}
@media (max-width: 991px) {
  .notification-msg {
    width: 100%;
  }
  .notification-img-msg-container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .notification-day-title .title::after {
    left: 90px;
  }
  .notification-header .notification-header-title {
    font-size: 24px;
  }
}
@media (max-width: 475px) {
  .setting-text-tile-container {
    width: 150px;
  }
  .notification-img-msg-container {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .notification-img-msg-container {
    width: 90%;
  }
  .notification-content .notification-msg,
  .notification-content .notification-time {
    font-size: 20px;
    line-height: 27px;
  }
  .notification-content .notification-msg.notification-read{
    font-size: 20px;
    line-height: 30px;
  }
  .notification-header .notification-header-mark-btn {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (min-width: 3000px) {
  .notification-header .notification-header-title {
    font-size: 45px;
    line-height: 60px;
  }
  .notification-content .notification-img {
    min-width: 90px;
    height: 90px;
  }
  .notification-content .notification-msg {
    font-size: 28px;
    line-height: 34px;
  }
  .notification-content .notification-msg.notification-read{
    font-size: 32px;
    line-height: 38px;
  }
  .notification-content .notification-time {
    font-size: 20px;
    line-height: 26px;
  }
}
